/lydia-api/
/lydia-radgiver-frontend/
/fia-arbeidsgiver/
/fia-arbeidsgiver-frontend/
/sykefravarsstatistikk-api/
/ia-tjenester-metrikker/
/min-ia/
/pia-brreg-oppdaterer/
/forebyggingsplan/
/ia-felles/
/ia-datafortelling/
/arbeidsgiver-mock-enhetsregisteret/
/teamia/
/pia-actions/
/pia-bigquery-sink/
/fia-datafortelling/
/eslint-config-teamia/
/pia-jobbsender/
/pia-dvh-import/

# Ignore Intellij project-specific directory
/.idea/

# DS_Store for mac
.DS_Store

# Ignore VSCode project-specific directory
.vscode



# Python env
/.venv/
/python_scripts/db/migration/
/python_scripts/*.sql

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
